@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --buttontop: rgba
    --font: "Roboto Flex", sans-serif;
    --button: #ffba10;
    --family:'Courgette', cursive;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #FFFCF9;
}

header {
    background-image: url("/assets/pic/Hero\ section\ graphics\ \(1\).svg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    
}

.color-overlay {
    min-height: 80vh;
    color: rgb(223, 200, 200);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}

.form-select {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: black;
  border-radius: 50px;
}

.bbb-1 {
    font-family: var(--family);
}

.icon {
    opacity: 80%;
    color:#333
    font-family:"Roboto Flex", sans-serif;
}

.ev {
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto Flex", sans-serif;
}

.jn {
    font-family: "Roboto Flex", sans-serif;
    border-radius:50px !important;
}

.btn2 {
    background-image: linear-gradient(
  280deg,
  hsl(328deg 100% 51%) 0%,
  hsl(329deg 100% 50%) 11%,
  hsl(329deg 100% 50%) 22%,
  hsl(331deg 100% 50%) 33%,
  hsl(332deg 100% 50%) 44%,
  hsl(333deg 100% 50%) 56%,
  hsl(334deg 100% 50%) 67%,
  hsl(335deg 100% 50%) 78%,
  hsl(336deg 100% 50%) 89%,
  hsl(337deg 100% 50%) 100%
);
    color: #ffba10;
    border-radius: 58px !important;
    font-size: 12px !important;
    font-family:"Roboto Flex", sans-serif ;
}

.ch {
    font-family: 'Courgette', cursive;
    /* font-weight: 600; */
    opacity: 80%;
}

.navbar {
    font-family: var(--font);
}

.search-box {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-box input[type=text] {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color:white !important;
}

.search-box button img {
    width: 40px;
    height: 40px;

}

.search-box button {
    border: 0;
    border-radius: 70px;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}


footer {
<<<<<<< HEAD
    background-image: linear-gradient(to right top, #961b86, #7e2282, #66267b, #4f2672, #392567);
=======
    background-color:  #580436e3 !important;
>>>>>>> 9282e4d (updated)
    font-family: var(--font);
    padding-bottom: 40px;
}

.link {
 color: #FFFCF9;
font-size: 12px;
 opacity: 80%;
}

<<<<<<< HEAD
.link:hover {
    color: white !important;
=======
.nav-link:hover {
    color: #ffba10 !important;
    font-weight: bold !important;
>>>>>>> 9282e4d (updated)
}


.nav-link {
    font-weight: 500 !important;
    font-family: var(--font);
<<<<<<< HEAD
}
=======
}

.bb{
    background-color: #FFEEE9 !important;
    color: #EA5C2B !important;
}

.ff{
    background-color: #EAF5D9 !important  ;
    color: #00A551 !important;
}
.rr{
    background-color: #FDF7DF !important;
    color: #E4A200 !important;
}
.ss{
    background-color: #FFEEE9 !important;
    color: #EA5C2B !important;
}
.tt{
    background-color: #EAF5D9 !important  ;
    color: #00A551 !important; 
}

.cm {
    background-color: #FFEEE9 !important;
    color: #EA5C2B !important;
}

.sm {
    background-color: #EAF5D9 !important  ;
    color: #00A551 !important;
}

.cf {
    background-color: #FFEEE9 !important;
    color: #EA5C2B !important;
}

.col-8{
    width: 12.5%;
    }



    /*strat something  */
 
    .col-xs-8r,
    .col-sm-8r,
    .col-md-8r,
    .col-lg-8r {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .col-xs-8r {
        width: 12.5%;
        float: left;
    }
    
    @media (min-width: 768px) {
        .col-sm-8r {
            width: 12.5%;
            float: left;
        }
    }
    
    @media (min-width: 992px) {
        .col-md-8r {
            width: 12.5%;
            float: left;
        }
    }
    
    @media (min-width: 1200px) {
        .col-lg-8r {
            width: 12.5%;
            float: left;
        }
    }   


    #navbarNav:hover {
        color: #E4A200 !important;
    }

    .jn:hover {
        color: #ffba10 !important;
        font-weight: bold !important;
    }

    .hvr-float-shadow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-float-shadow:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(
            center,
            ellipse,
            rgba(0, 0, 0, 0.35) 0,
            rgba(0, 0, 0, 0) 80%
        );
        background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0.35) 0,
            rgba(0, 0, 0, 0) 80%
        );
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }
    .hvr-float-shadow:active,
    .hvr-float-shadow:focus,
    .hvr-float-shadow:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    .hvr-float-shadow:active:before,
    .hvr-float-shadow:focus:before,
    .hvr-float-shadow:hover:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }


>>>>>>> 9282e4d (updated)
